.left-column p {
    font-size: 12px;
    margin-top: 10px;
    font-family: Jost;
}
.right-column {
    margin-right: 40px;
    margin-top: 470px;
}
.left-column {
    margin-left: 100px;
    margin-top: 120px;
}
.left-column h1{
    font-size: 48px;
    color: #FFFFFF;
    width: 600px;
    font-weight: 900;
    font-family: Jost;
    text-transform: uppercase;
}
.left-column h2 {
    font-size: 25px;
    color: #d0d0d0;
    width: 600px;
  
    margin-top: 30px;
    font-family: Jost;
    font-style: italic;
    font-weight: 300;
}

/* анимация текста */

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  
.fade-in-up {
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
}
  
.delay-1 {
    animation-delay: 0.5s;
}
/* анимация текста */
  