.left-column p {
    font-size: 12px;
    margin-top: 10px;
    font-family: Jost;
}
.right-column {
    margin-right: 40px;
    margin-top: 470px;
}
.left-column {
    margin-left: 100px;
    margin-top: 120px;
}
.left-column h1{
    font-size: 48px;
    color: #FFFFFF;
    width: 600px;
    font-weight: 900;
    font-family: Jost;
    text-transform: uppercase;
}
.left-column h2 {
    font-size: 35px;
    color: #e8e8e8;
    width: 600px;
    margin-top: 30px;
    font-family: Jost;
    font-weight: 600;
    font-style: italic;
}
.main-section {
    margin-top: 70px;
    background-image: url('image/main-destop.png'); /* или ../assets/... если относительный путь подходит */
    background-size: cover;
    background-position: center;
    height: 800px;
    min-height: 300px;
    border-radius: 20px
}

/* анимация текста */

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  
.fade-in-up {
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
}
  
.delay-1 {
    animation-delay: 0.5s;
}
/* анимация текста */


.logo-main {
    width: 250px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
  
.logo-main:hover {
    transform: scale(1.05);
}
.logo-main:active {
    transform: scale(0.95);
}

.logo-main {
    opacity: 0;
    animation: fadeDown 2s ease-out 1s forwards;
}
  
@keyframes fadeDown {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.main-mob {
    display: none;

}
  