
.text-detail-button-items{
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}
.text-detail-button-description h3,
.text-detail-button-description h2{
    font-size: 20px;
    font-weight: 600;
    color: #515151;
}
.text-detail-main {
    font-size: 20px;
    font-weight: 600;
}

