.image-text-card {
    width: 500px;
    height: 360px;
    border-radius: 40px;
}
.image-text-card-items h6{
    font-size: 50px;
    font-weight: 800;
}
.image-text-card-items h5{
    font-size: 20px;
    font-weight: 600;
    color:#5e5e5e;
}
.secondary-text-card-items{
    color:#929292;
    margin-top: 45px;
    font-size: 12px;
}